html
    head
        link(rel='stylesheet' href="/public/css/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body 
        div(class="header" id="header" style="width: 100%")
            a( href="#home" class="active") Home
            a( href="#home") test
            a(href="#" class="icon" id="hamburger-icon")
                div(class="bar")
                div(class="bar")
                div(class="bar")
        |content
        script(src="/public/scripts/admin/home.js")