html(lang="en")
    head 
        link(rel='stylesheet' href="/public/css/styles.css")
        style
            include src/styles.css
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div(class="centered")
            h1(style="text-align: center;") Admin
            div(class="container responsive" style="text-align: center; height: 300px; width: 400px;")
                h2 Username
                input(type="text" id="username")
                | <br />
                h2 Password
                input(type="password" id="password")
                | <br /><br />
                div(id="submit" class="button") Login
                    div(id="underline") 
                input(type="hidden" id="csrf" value=csrfToken)
        script(src="/public/scripts/admin/admin.js")