extends ../../layout.pug

block append head 
    link(rel='stylesheet' href="/public/css/submitButton.css")

block append body 
    div(class="centered")
        h1(style="text-align: center;") Login
        div(class="container responsive" style="text-align: center; height: 400px; width: 400px;")
            h2 Username
            input(type="text" id="username" onkeypress="handleKeyPress(event)")
            | <br />
            h2 Password
            input(type="password" id="password" onkeypress="handleKeyPress(event)")
            | <br /><br />
            div(id="submit" class="button") Login
                div(id="underline") 
            input(type="hidden" id="csrf" value=csrfToken)
            |<br /><br />
            |Or 
            |<br /><br />
            a(href="/auth/signup") Signup
    script(src="/public/scripts/login.js")