html {
	background: #f3f3f3;
	font-family: Consolas, Courier New, monospace;
}

.header {
	border-style: solid;
	border-radius: 8px;
	background-color: white;
	overflow: hidden;
}

.header a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.header a:hover {
	background-color: lavender;
	color: black;
}

.header a.active {
	background-color: violet;
	color: black;
}
.header .icon {
	display: none;
	max-height: 20px;
}

.header .icon .bar {
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 3px 0;
}

@media screen and (max-width: 600px) {
	.header a:not(:first-child) {
		display: none;
	}
	.header a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.header.responsive {
		position: relative;
	}
	.header.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.header.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	border-style: solid;
	border-radius: 8px;
	background: white;
}
