extends ../layout.pug

block append body
    div(class="centered")
            h1(style="text-align: center;") Error
            div(class="container responsive" style="text-align: center;")
                h2 status
                br
                h3 message
                br
                p
                    each error in errors 
                        span error
                        br