extends ../layout.pug

block append body 
    div(class="centered")
            h1(style="text-align: center;") Unauthorized
            div(class="container responsive" style="text-align: center; padding: 20px")
                h2 You do not have the permissions required to access this page.
                a(href="#")