extends ../../layout.pug

block append head 
    style(type="text/css").
        .flexDiv {
            align-items: center;
        }

        .flexDiv div {
            margin: 10px
        }

        .flexDiv#emailDiv {
            flex-direction: row; 
            margin: 10px
        }

        .flexDiv#passwordDiv{
            flex-direction: row; 
            margin: 10px
        }
        @media screen and (max-width: 600px) {
            .flexDiv#emailDiv {
                flex-direction: column;
            }

            .flexDiv#passwordDiv {
                flex-direction: column;
            }
        }
block append body
    div(class="centered")
        h1(style="text-align: center;") Signup
        div(class="container" )
            div(class="flexDiv" style="text-align: center; padding: 2em;")
                div
                    |Username <br /> 
                    input(type="text" id="username")
                div(class="flexDiv" id="emailDiv")
                    div
                        |Email <br />
                        input(type="text" id="email")
                    div
                        |Confirm Email <br />  
                        input(type="text" id="confirmEmail")
                div(class="flexDiv" id="passwordDiv")
                    div
                        |Password <br />
                        input(type="password" id="password")  
                    div
                        |Confirm Password <br />
                        input(type="password" id="confirmPassword")
                div(style="margin: 10%")
                    input(id="submit" type="button" value="Signup")
                    input(type="hidden" id="csrf" value=csrfToken)
                    br
                    br
                    |Or 
                    br
                    br
                    a(href="/auth/login") Login
        script(src="/public/scripts/signup.js")