html(lang="en")
    head 
        link(rel='stylesheet' href="/public/css/styles.css")
        link(rel='stylesheet' href="/public/css/submitButton.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div(class="centered")
            h1(style="text-align: center;") Admin Login
            div(class="container responsive" style="text-align: center; height: 400px; width: 400px;")
                h2 Username
                input(type="text" id="username")
                | <br />
                h2 Password
                input(type="password" id="password")
                | <br /><br />
                div(id="submit" class="button") Login
                    div(id="underline") 
                input(type="hidden" id="csrf" value=csrfToken)
                |<br /><br />
                |Or 
                |<br /><br />
                a(href="/auth/signup") Signup
        script(src="/public/scripts/auth/login.js")